body {
}
.bannerbg {
  background-color: #fff9f4;
}
.pandatext {
  color: #fa804c;
}
.pandabtn {
  background-color: #3d4ff3;
}
.img-bg {
  background: #f1f1f1;
}
/* Media Queries */

@media only screen and (max-width: 992px) {
  .center h2,
  .center p {
    text-align: center;
  }
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
